# Python bytecode files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment directories
venv/
env/
*.env

# Django-specific
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Coverage and test reports
.coverage
nosetests.xml
coverage.xml
*.cover
*.tox
*.nox
*.hypothesis

# VSCode
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# MacOS
.DS_Store

# Windows
Thumbs.db
